/*** BLOCKS ***
    ===================================================== */

    .app {
        height: 100%;
        min-width: 320px;
    }

    .header {
        text-align: center;
        background: #eee;
        line-height: 0;
    }
    .header__item {
        display: inline-block;
        width: 48%;
        vertical-align: middle;
    }
    .header__item.menu {
        text-align: right;
        line-height: 1.5;
    }
    .header__item.nav,
    .header__item.contacts {
        display: none;
    }
    @media screen and (min-width: 768px) {
        .header__item.logo {width: 20%;}
        .header__item.menu__btn { display: none; }
        .header__item.menu {
            width: 78%;
            text-align: right;
        }
        .header__item.nav {
            display: inline-block;
            width: 64%;
            text-align: center;
        }
        .header__item.contacts {
            display: inline-block;
            width: 34%;
        }
    }


    .menu {
        user-select: none;
        -webkit-user-select: none;
    }
    @media screen and (max-width: 767px) {
        .header {
        }
        .logo {
            text-align: center;
            width: 100%;
        }

        .menu__btn {
            position: fixed;
            right: 0px;
            top: 0;
            height: 56px;
            padding-top: 16px;
            width: 64px;
            z-index: 10;

            color: #fff;
            font-size: 36px;
            text-align: center;
            text-shadow: 0px 1px 1px #555;
        }

        .menu__content {
            display: none;
            overflow: auto;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            z-index: 11;
            padding-top: 40px;
            text-align: center;
            background: #eee;
        }
        .menu__content:after {
            font-family: 'icons';
            content: "\e903";
            position: absolute;
            right: 20px;
            top: 18px;
            color: #fff;
            font-size: 24px;
            text-shadow: 0px 1px 1px #555;
        }

        .menu__content .header__item {
            display: block;
            width: 100%;
        }
        .menu__content .nav__item {
            display: block;
            margin: auto;
            max-width: 160px;
            padding: 14px;
            font-size: 24px;
        }
        .nav__item:before { content: none; }

        .menu__content .contacts {
            margin-top: 16px;
        }
    }
    @media screen and (min-width: 768px) {
        .menu__btn { display: none; }
    }


    .nav {}
    .nav__item {
        display: inline-block;
        position: relative;
        font-size: 20px;
        padding: 8px 16px;
    }

    @media screen and (min-width: 768px) {
        .nav__item {
            border-radius: 2px;
            box-shadow: 0 7px 30px -11px,
                inset 0 -18px 30px -15px #fff;
            cursor: pointer;
        }
        .nav__item:hover,
        .nav__item-active {
            color: #000;
            box-shadow: none;
        }
        .nav__item-active {
            cursor: default;
        }
    }



    .contacts {
    }
    .contacts__link {
        position: relative;
        display: inline-block;
        overflow: hidden;

        height: 64px;
        width: 64px;

        color: #777;
        font-size: 32px;
        line-height: 64px;

        transition: all .2s;
    }
    .contacts__link:before {
        display: block;
        height: 100%;
        color: #fff;
        text-align: center;
        text-shadow: 0px 1px 1px #555;
    }
    .contacts__link:hover:before {
        top: 18px;
        text-shadow: none;
        color: #333;
    }



    .gallery {
        padding: 0 16px 40px;
        text-align: center;
    }
    .gallery:after {
        content: '';
        display: table;
        clear: both;
    }
    .gallery__hero {
        display: block;
        margin: 0 -16px;
        line-height: 0;
    }
    .gallery__hero img {
        max-height: 90vh;
    }
    .gallery__thumb {
        float: left;
        overflow: hidden;
        position: relative;
        height: 0;
        margin-top: 16px;
        max-width: 33.3333%;
        padding-bottom: 33.3333%;
        width: 100%;
    }
    .gallery__thumb_cont {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        padding: 0 4px;
    }
    .gallery__thumb_cont img {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        .gallery__thumb {
            max-width: 25%;
            padding-bottom: 25%;
        }
        .zoom {
            cursor: zoom-in;
        }
    }


    .about {
        max-width: 480px;
        margin: auto;
        padding: 40px 16px;

        font-size: 20px;
        text-align: justify;
    }